@media (max-width: 730px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 7311px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}